apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: nginx-flux
resources:
- namespace.yaml
- helmrelease.yaml
configMapGenerator:
- name: nginx-values
  files:
  - values.yaml=my-values.yaml
  - otherinfo.yaml=discard.yaml
configurations:
- kustomizeconfig.yaml